%gilroy-regular {
  font-family: "gilroy-regular", sans-serif;
  font-weight: 400;
}

%gilroy-medium {
  font-family: "gilroy-medium", sans-serif;
  font-weight: 500;
}

%gilroy-bold {
  font-family: "gilroy-bold", sans-serif;
  font-weight: 700;
}

%gilroy-black {
  font-family: "gilroy-black", sans-serif;
  font-weight: 900;
}

%poppins-semibold {
  font-family: "poppins-semibold", sans-serif;
  font-weight: 600;
}

%gilroy-semibold {
  font-family: "gilroy-semibold", sans-serif;
  font-weight: 600;
}

%bg2{
  background-color: #FFF9F2;
}

%title1{
  color: #233506;
}

%title2{
  color:  #02283F;
}

